.imageContainer {
  width: 200px;
  height: 200px;
}

.imageContainer > div {
  position: unset !important;
}

.image {
  object-fit: cover;
  width: 100% !important;
  position: relative !important;
}
